﻿@model iTravelMVC.Models.AttractionModel

<body style="background-color: #ecf0f1">
    <nav class="navbar">
        <a class="navbar-brand" href="/Home/Index" style="margin-left: 50px; color: white;">Denmark Travel Attractions</a>
    </nav>

    <div class="container" style="width: 70%; margin-top: 30px; background-color:white; padding: 20px; margin-bottom: 30px;">
        <h1>Nyhavn</h1>
        <div class="space"></div>
        <img src="~/Content/assets/@Model.imageUrl" alt="top-img" style="width:100%;height: 350px; object-fit: cover; ">

        <div class="space"></div>
        <br />
        <p>@Model.detailLong</p>
        <iframe src="@Model.mapUrl"
                width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>



</body>
