﻿@model IEnumerable<iTravelMVC.Models.AttractionModel>

@{
    ViewBag.Title = "Index";
}


<body>
    <header>
        <div class="navbar navbar-dark box-shadow">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                    <strong>Attractions</strong>
                </a>
            </div>
        </div>
    </header>
    <!-- Navbar -->

    <main role="main">

        <div class="container2" style="padding: 70px;">
            <div style="position: relative; top: 50%; transform: translateY(-50%); padding: 5px;">
                <h1 style="color: #0fbcf9; ">Denmark Travel Attractions</h1>
                <h5 style="color: #d2dae2 ">"The journey of a thousand miles begins with one step." -Lao Tzu</h5>
            </div>
        </div>

        <div class="album py-5 bg-light ">
            <div class="container ">

                <!-- Attraction Cards -->
                <div class="row ">
                    @{
                        var counter = 0;
                        foreach (var item in Model)
                        {
                            <div class="col-md-4 ">
                                <div class="card mb-4 box-shadow ">
                                    <img class="card-img-top " data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail " alt="Thumbnail [100%x225] " src="~/Content/assets/@item.imageUrl" data-holder-rendered="true " style="height: 225px;
                width: 100%; display: block; ">
                                    <div class="card-body ">
                                        <p class="card-title ">@item.place</p>
                                        <p class="card-text ">@item.detailShort</p>
                                        <div class="d-flex justify-content-between align-items-center ">
                                            <div class="btn-group ">
                                                <a href="/Home/Details/?index=@counter">
                            <button type="button" class="btn btn-primary">More Detail</button>
                                                </a>

                                                @*<button type="button" class="btn btn-primary">@Html.ActionLink("Details", "Details", new { index = counter })</button>*@
                                            </div>
                                            <small class="text-muted ">@item.time min to read</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            counter++;
                        }
                    }

                    <!-- END OF CARDS -->

                </div>
            </div>
        </div>

    </main>


</body>


