﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Attractions</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/Content/attractions.css" rel="stylesheet" />
    <link rel="stylesheet" media="screen" href="details.css" />

    <style type="text/css"></style>
</head>
<body>

  

    @RenderBody()

    <footer class="text-muted ">
        <div class="container ">
            <p class="float-right ">
                <a href="# ">Back to top</a>
            </p>
            <p>© Bootstrap | Poom Penghiran 5913873</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
    <script>
        window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js "><\/script>')
    </script>
    <script src="../../../../assets/js/vendor/popper.min.js "></script>
    <script src="../../../../dist/js/bootstrap.min.js "></script>
    <script src="../../../../assets/js/vendor/holder.min.js "></script>


    <svg xmlns="http://www.w3.org/2000/svg " width="348 " height="225 " viewBox="0 0 348 225 " preserveAspectRatio="none " style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%; ">
        <defs>
            <style type="text/css
                "></style>
        </defs>
        <text x="0 " y="17 " style="font-weight:bold;font-size:17pt;font-family:Arial, Helvetica, Open Sans, sans-serif ">Thumbnail</text>
    </svg>
</body>
</html>