@font-face {
    font-family: Bariol_Bold;
    src: url(fonts/Bariol_Bold.ttf);
}

@font-face {
    font-family: Bariol_Regular;
    src: url(fonts/Bariol_Regular.otf);
}

:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbar {
    background-color: #0fbcf9;
    color: #fff;
}

strong {
    font-family: Bariol_Bold;
    font-weight: 100;
}

.container2 {
    /* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://lh3.googleusercontent.com/E26e3CeUMbmSXYfH0842kPwLiLi7ETXJ5_Fz4y4-jTVcmlULRa5rgjsS4PwiQRFYLo3q0eA6gGKJ37-ydeFQD_sGx4PSc2JAQz5bqczFxQud9dwyheQnGKB7aXk5J57HeGFOI48jL3BRJkpqwenIgmwkMMzLOay_9drcHAFQaNMJ_MzbEGxWsx6rGXDxjZTzY9DZqFj_Y4g7aDPKgxXRp78P36_8hO5uYO-2WvP2dO90eH7ZRrLhWpEnNJ5LyqvzgxDmHN6VqjlywHIf8Xn8j01_H1jKAFGYkAU5alnrXfGc5m1rdremtiUZ0qEmQqgJFSImHGwN6oQ07jTSEdQEFfyODfe6HdkCv7UKBEp-9EGykNr0iYjevizT9sPLsXMN-mk34doUX1DNHISY_-rESyzq51V6c0D9EhxfWIg33i7Lg2CwP4IzKUXRx0EhNRxmUxowZRVw0_NCse4H4AxLyZucrxPzMIx4tSAJc81bfhyDpH8AtI-Otu3tb31yz0vCk1GXhgAwMyDKeV7LrPx0sv_C42nimzy5KpP4hcyGfvPRWBk3fo80h2K8rDqk3YOZtDrN2eGt4mFUFFfdI8urJBQ7ILgzpJ0DAyfZz7RT=w3280-h958-no"); */
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/bg.png");
    background-size: cover;
    width: 100%;
    background-color: white;
    height: 30%;
    text-align: center;
    vertical-align: middle;
}

h4 {
    text-transform: uppercase;
    margin: 0;
    font-size: 3rem;
    white-space: nowrap;
}

h1 {
    font-family: Bariol_Bold;
    color: #0fbcf9;
}

h3 {
    font-family: Bariol_Regular;
}

h5 {
    font-family: Bariol_Regular;
}
