@font-face {
    font-family: Bariol_Bold;
    src: url(fonts/Bariol_Bold.ttf);
}

@font-face {
    font-family: Bariol_Regular;
    src: url(fonts/Bariol_Regular.otf);
}

.navbar {
    font-family: Bariol_Bold;
    background-color: #0fbcf9;
}

.navbar-brand {
    color: white;
}

.container-2 {
    position: relative;
    background-color: black;
}

.text-block {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

h2 {
    font-family: Bariol_Bold;
    color: #ecf0f1;
    text-align: center;
}

.space {
    margin-top: 30px;
}

h1 {
    font-family: Bariol_Bold;
    text-align: center;
    color: #34495e;
}

.navbar {
    font-family: Bariol_Bold;
}

.navbar-brand {
    font-family: Bariol_Bold;
}